@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-size: x-large;
    font-family: Lato, sans-serif;
}

/* Headings */

h1, h2, h3, h4, .special-text {
    text-transform: uppercase;
    font-family: Fjalla One, sans-serif;
    letter-spacing: 1px;
}

/* Header */

#page-header {
    background: url(../images/header-image.jpg);
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

#page-header > h1 {
    color: aliceblue;
    font-size: 200%;
    padding: 20px 0 0 20px;
}

/* Navigation */

#menu {
    background-color: saddlebrown;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1.5px dashed aliceblue;
    border-top: 1.5px solid aliceblue;
}

#menu > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 150%;
    margin-right: 25px;
    margin-left: 25px;
}

#menu > a:hover {
	color: burlywood;
}

.active {
    border-bottom: 2px solid aliceblue;
}

/* Main content */

.top-margin {
    margin-top: 50px;
}

.wrapper {
    height: 450px;
}

.content-bg {
    background-color: burlywood;
    border-radius: 50px;
}

.container-left {
    height: 100%;
    width: 50%;
    float: left;
} 

.container-right {
    height: 100%;
    width: 50%;
    float: right;
}

.divider {
    width: 49%;
    margin: 0 0.5%;
    border: 1.5px dashed aliceblue;
}

/* Main content images */

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 350px;
    height: 350px;
    border-radius: 25%;
    border: 1px solid aliceblue;
}

#image-tour-a {
    background: url(../images/kayak.jpg);
    background-position-y: 70%;
    background-position-x: 20%;
}

#image-tour-b {
    background: url(../images/coconut.jpg);
    background-position-y: 70%;
    background-position-x: 25%;
}

#image-tour-c {
    background: url(../images/beach.jpg);
    background-position-y: 70%;
    background-position-x: 80%;
}

#image-tour-d {
    background: url(../images/beach2.jpg);
    background-position-y: 70%;
    background-position-x: 35%;
}

/* Main content text */

.title {
    margin: 30px 0 25px 0;
    text-align: center;
    font-size: 175%;
}

.text-container li {
    padding: 8px;
    list-style: circle;
    list-style-position: inside;
}

/* Buttons */

.buttons-container {
    margin-top: 30px;
}

.button {
    border-radius: 50px;
    width: 150px;
    height: 40px;
}

.button-left {
    background-color: aliceblue;
    border: 1px solid saddlebrown;
}

.button-left:hover {
    transform: scale(1.15);
}

.button-left > a {
    color: saddlebrown;
}

.button-right {
    background-color: saddlebrown;
    border: 1px solid aliceblue;
    margin-left: 40px;
}

.button-right:hover {
    transform: scale(1.15);
}

.button-right > a {
    color: aliceblue;
}

.button > a {
    text-decoration: none;
}

/* Footer */

footer {
    height: 100px;
    background-color: saddlebrown;
    margin-top: 50px;
    border-top: 1.5px dashed aliceblue;
}

footer h3 {
    color: aliceblue;
}

#socials > li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}

#socials i {
    color: aliceblue;
    font-size: 150%;
}

#socials i:hover {
    transform: scale(1.5);
    text-shadow: 3px 3px black;
}

/* About page content */

#about-container {
    margin-left: 5%;
    margin-right: 5%;
    border: 1.5px dashed aliceblue;
}

#about-container ul {
    width: 85%;
    margin: 0 7.5%;
}

#about-container h4 {
    display: inline;
}

.list-properties li {
    list-style: none;
    padding: 8px;
}

.icons {
    margin-right: 20px;
    font-size: 150%;
}

.bottom-margin {
    margin-bottom: 30px;
}

/* Booking page */

#booking-container {
    margin-left: 15%;
    margin-right: 15%;
    border: 1.5px dashed aliceblue;
}

#booking-container form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#booking-container input {
    border: 1.5px dashed burlywood;
    border-radius: 50px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.form-margin {
    margin: 20px 0 20px 0;
}

fieldset {
	margin-bottom: 20px;
}

.label-left {
    width: 15%;
    float: left;
}

.field-right {
    width: 85%;
    float: right;
}

#number-of-tickets label {
    margin-right: 20px;
}

#number-of-tickets input {
    width: 50px;
    height: 30px;
}

#choose-date label {
    margin-right: 20px;
}

.radio-margin input {
    margin-left: 20px;
    margin-top: 15px;
}

/* Contact page */

#contact-wrapper {
    height: 550px;
}

.content-width {
    width: 90%;
    margin: 0 5%;
}

/* Contact page form */

.field-properties {
    width: 100%;
    margin: 8px 0;
    border: 1.5px dashed burlywood;
    border-radius: 50px;
    font-size: 80%;
    background-color: aliceblue;
}

input {
    padding: 10px 10px;
}

input[type=submit] {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    border: 1.5px dashed burlywood;
    background-color: saddlebrown;
    font-size: 80%;
    color: aliceblue;
}

input[type=submit]:hover {
    background-color: aliceblue;
    color: black;
}

textarea {
    padding: 12px 20px;
    height: 150px;
    resize: none;
}

/* Contact details */

#contact-list h4 {
    display: inline;
    margin-right: 10px;
}

#message-icons {
    margin-top: 40px;
}

#message-icons i {
    color: saddlebrown;
    margin-left: 40px;
    font-size: 150%;
}

#message-icons i:hover {
    transform: scale(1.25);
}

/*  Map  */

#map-container {
    margin: 50px 0.5% 0 0.5%;
    border: 1.5px dashed aliceblue;
}

#map-container iframe {
    border-radius: 50px;
    border: 1px solid aliceblue;
    margin-bottom: 50px;
}

/* Confirmation pages */

.confirmation {
    margin-left: 15%;
    margin-right: 15%;
    border: 1.5px dashed aliceblue;
}

.confirmation > h3 {
    text-align: center;
    margin: 30px 0 20px 0;
}

.confirmation > p {
    margin: 10px 10% 0 10%;
}
