@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-size: x-large;
    font-family: Lato, sans-serif;
}

/* Headings */

h1, h2, h3, h4, .special-text {
    text-transform: uppercase;
    font-family: Fjalla One, sans-serif;
    letter-spacing: 1px;
}

/* Header */

#page-header {
    background: url(../images/header-image.jpg);
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
}

#page-header > h1 {
    color: aliceblue;
    font-size: 200%;
    padding: 20px 0 0 20px;
}

/* Navigation */

.top-menu {
    overflow: hidden;
    background-color: saddlebrown;
    border-top: 1.5px solid aliceblue;
    border-bottom: 1.5px dashed aliceblue;
    line-height: 50px;
    text-align: center;
}
  
.top-menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 150%;
    margin: 0 25px;
    text-transform: uppercase;
    font-family: Fjalla One, sans-serif;
    letter-spacing: 1px;
}

.top-menu a:hover {
    color: burlywood;
}

.active {
    border-bottom: 2px solid aliceblue;
}

.menu-icon {
    color: black;
    display: none;
}

/* Main content */

.top-margin {
    margin-top: 50px;
}

.wrapper {
    height: 460px;
}

.divider {
    height: 100%;
    width: 49%;
    margin: 0 0.5%;
    border: 1.5px dashed aliceblue;
}

.content-bg {
    background-color: burlywood;
    border-radius: 50px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.title-container {
    height: 70px;
    width: 100%;
}

.image-container {
    height: 300px;
    width: 50%;
} 

.text-container {
    height: 300px;
    width: 50%;
}

.buttons-container {
    height: 70px;
    width: 100%;
}

/* Main content images */

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 85%;
    height: 95%;
    border-radius: 15%;
    border: 1px solid aliceblue;
}

#image-tour-a {
    background: url(../images/kayak.jpg);
    background-position-y: 70%;
    background-position-x: 20%;
}

#image-tour-b {
    background: url(../images/coconut.jpg);
    background-position-y: 65%;
    background-position-x: 25%;
}

#image-tour-c {
    background: url(../images/beach.jpg);
    background-position-y: 70%;
    background-position-x: 80%;
}

#image-tour-d {
    background: url(../images/beach2.jpg);
    background-position-y: 70%;
    background-position-x: 35%;
}

/* Main content text */

.title {
    padding-top: 25px;
    text-align: center;
    font-size: 175%;
    margin-bottom: 20px;
}

.text-container ul {
    padding-top: 30px;
}

.text-container li {
    padding: 7px;
    list-style: circle;
    list-style-position: inside;
}

/* Buttons */

.button {
    border-radius: 50px;
    width: 150px;
}

.button-left {
    background-color: aliceblue;
    border: 1px solid saddlebrown;
}

.button-left:hover {
    transform: scale(1.15);
}

.button-left > a {
    color: saddlebrown;
}

.button-right {
    background-color: saddlebrown;
    border: 1px solid aliceblue;
    margin-left: 25px;
}

.button-right:hover {
    transform: scale(1.15);
}

.button-right > a {
    color: aliceblue;
}

.button > a {
    text-decoration: none;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: saddlebrown;
    border-top: 1.5px dashed aliceblue;
}

#copyright-container, #socials-container {
    width: 50%;
    height: 100%;
}

footer h3 {
    color: aliceblue;
}

#socials > li {
    list-style: none;
    display: inline;
    margin-left: 50px;
}

#socials i {
    color: aliceblue;
    font-size: 150%;
}

#socials i:hover {
    transform: scale(1.5);
    text-shadow: 3px 3px black;
}

/* About page content */

#about-container {
    margin-left: 5%;
    margin-right: 5%;
    border: 1.5px dashed aliceblue;
}

#about-container ul {
    width: 85%;
    margin: 0 7.5%;
}

#about-container h4 {
    display: inline;
}

.list-properties li {
    list-style: none;
    padding: 8px;
}

.icons {
    margin-right: 20px;
    font-size: 150%;
}

.bottom-margin {
    margin-bottom: 30px;
}

#about-button {
    margin-top: 30px;
}

/* Booking page */

#booking-container {
    margin-left: 15%;
    margin-right: 15%;
    border: 1.5px dashed aliceblue;
}

#booking-container form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#booking-container input {
    border: 1.5px dashed burlywood;
    border-radius: 50px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.form-margin {
    margin: 20px 0 20px 0;
}

fieldset {
	margin-bottom: 20px;
}

.label-left {
    width: 15%;
    float: left;
}

.field-right {
    width: 85%;
    float: right;
}

#number-of-tickets label {
    margin-right: 20px;
}

#number-of-tickets input {
    width: 50px;
    height: 30px;
}

#choose-date label {
    margin-right: 20px;
}

.radio-margin input {
    margin-left: 20px;
    margin-top: 15px;
}

/* Contact page */

#contact-wrapper {
    height: 550px;
}

.content-width {
    width: 90%;
    margin: 0 5%;
}

#form-container, #contact-details {
    height: 100%;
}

/* Contact page form */

.field-properties {
    width: 100%;
    margin: 8px 0;
    border: 1.5px dashed burlywood;
    border-radius: 50px;
    font-size: 80%;
    background-color: aliceblue;
}

input {
    padding: 10px 10px;
}

input[type=submit] {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    border: 1.5px dashed burlywood;
    background-color: saddlebrown;
    font-size: 80%;
    color: aliceblue;
}

input[type=submit]:hover {
    background-color: aliceblue;
    color: black;
}

textarea {
    padding: 12px 20px;
    height: 150px;
    resize: none;
}

/* Contact details */

#contact-list h4 {
    display: inline;
    margin-right: 10px;
}

#message-icons {
    margin-top: 40px;
}

#message-icons i {
    color: saddlebrown;
    margin-left: 40px;
    font-size: 150%;
}

#message-icons i:hover {
    transform: scale(1.25);
}

/*  Map  */

#map-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1.5px dashed aliceblue;
}

#map-container iframe {
    border-radius: 50px;
    border: 1px solid aliceblue;
    margin-bottom: 50px;
    height: 500px;
}

/* Confirmation pages */

.confirmation {
    margin-left: 15%;
    margin-right: 15%;
    border: 1.5px dashed aliceblue;
}

.confirmation > h3 {
    text-align: center;
    margin: 30px 0 20px 0;
}

.confirmation > p {
    margin: 10px 10% 0 10%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .wrapper {
        height: 980px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-top {
        height: 470px;
        width: 100%;
        margin: 0 0 40px 0;
    } 
    
    .container-bottom {
        height: 470px;
        width: 100%;
        margin: 0 0 0 0;
    }

    .top-margin {
        margin-top: 40px;
    }

    .buttons-container {
        height: 80px;
    }

    .image {
        width: 80%;
        height: 100%;
        border-radius: 50px;
        border: 1px solid aliceblue;
    }

    #socials > li {
        margin-left: 30px;
    }

    #map-container iframe {
        width: 90%;
    }
}

/* For medium screen sizes from 992px wide and down */
@media screen and (max-width: 992px) {
    footer {
        height: 180px;
        position: relative;
    }

    #socials-container {
        height: 50%;
        width: 100%;
        border-bottom: 1.5px dashed aliceblue;
    } 
    
    #copyright-container {
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    #booking-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact-wrapper {
        height: 1090px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #form-container {
        width: 100%;
        height: 550px;
        margin-bottom: 40px;
    }

    #contact-details {
        width: 100%;
        height: 500px;
    }

    #map-container{
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* For small screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {
    #page-header {
        height: 250px;
    }

    #page-header > h1 {
        text-align: center;
        padding: 20px 0;
    }

    .top-menu a {
        float: left;
        display: block;
        font-size: 130%;
        margin: 0;
        padding: 0 20px;
    }

    .top-menu a:hover {
        background-color: burlywood;
        color: black;
    }

    .active {
        border: none;
    }

    .top-menu a:not(:first-child) {display: none;}
    .top-menu a.menu-icon {
        float: right;
        display: block;
    }
    .top-menu.responsive {position: relative;}
    .top-menu.responsive .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .wrapper {
        height: 1250px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .container-top {
        height: 610px;
        width: 100%;
        margin: 0 0 30px 0;
    } 

    .container-bottom {
        height: 610px;
        width: 100%;
        margin: 0 0 0 0;
    }

    .image-container {
        height: 250px;
        width: 100%;
    }

    .image {
        width: 80%;
        height: 100%;
        border-radius: 50px;
        border: 1px solid aliceblue;
    }

    .text-container {
        height: 190px;
        width: 100%;
    }

    .text-container ul {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        height: 160px;
    }

    .top-margin {
        margin-top: 30px;
    }

    #contact-wrapper {
        height: 1080px;
    }

    #form-container {
        margin-bottom: 30px;
    }
}